.button {
  padding: 20px;
  border-radius: 10px;
  border-style: none;
  font-size: 40px;
  margin: 10px;
  background: 0;
  border: solid rgb(171,61,0) 5px;
  font-weight: 600;
  font-family: Roboto;
  color: rgb(171,61,0);
  outline: none;
}

.button:hover {
  background: rgba(171,61,0,0.2);
}
