.notifications {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  overflow: hidden;
  max-height: 100vh;
  margin: 0 70px;
}

.notificationAnimation {
  animation-name: animateNotification;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin: 15px 0;
}

.notification {
  background: rgba(100,0,0,0.5);
  padding: 30px;
  width: 500px;
  border-radius: 10px;
}

.notificationText {
  color: white;
  word-wrap:break-word;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

.notificationTime {
  color: orange;
  font-size: 35px;
  font-weight: 300;
  margin: 0;
}

@keyframes animateNotification {
  0% {
    opacity: 0;
    max-height: 0;
    margin: 0;
  }
  5% {
    opacity: 0;
  }
  12% {
    opacity: 1;
    max-height: 100vh;
    margin: 15px 0;
  }
  88% {
    opacity: 1;
    max-height: 100vh;
    margin: 15px 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    max-height: 0;
    margin: 0;
  }
}
